# Node modules
node_modules/

# Ignore all files and folders in dist
dist/**/*
# But keep the csv directory structure
!dist/csv/
# And allow files within csv folder
!dist/csv/**/*
# Environment variables
.env

# Logs
*.log